.restaurant-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.food-image {
    width: 225px;
    height: 200px;
    margin-right: 20px;
    border-radius:20%;
    border:5px solid black;
}

.restaurant-info {
    flex-grow: 1;
}

h2 {
    margin: 0;
    color: #333;
}

.rating-and-reviews {
    display: flex;
    align-items: center;
}

.rating {
    font-weight: bold;
    color: #EAB543;
}

.rating-and-reviews a {
    margin-left: 10px;
    color: #0066cc;
    text-decoration: none;
}

.rating-and-reviews a:hover {
    text-decoration: underline;
}

.operation-and-contact {
    display: flex;
    justify-content: space-between;
}
