* {
    box-sizing: border-box;
    }

body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
    }

/* navbar */
.navbar{
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    }
.navbar #logo {
    line-height: 60px;
    }
.navbar #logo img{
    vertical-align: middle;
    }

.navbar #menu {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    
    }
.navbar #menu li {
    float:left;
    margin-left: 50px;
    line-height: 60px;
    }

.navbar #menu li a {
    text-decoration: none;
    color: #545454 ;
    font-size: 13px;
    font-weight: bold;
    }

/* hero header */
.hero-header{
    height: 450px;
    background-image: url("../homepageimg/title.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    }
.menu {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 8px 12px;
    }
.menu a {
    text-decoration: none;
    color: #f0f4f5;
    margin: 0 10px;
    }
.menu_name{
    list-style: none;
    display: table;
    margin: auto;
    padding: 0;
}
.menu_name li{
    display:inline-block;
    text-align: center;
    padding: 8px 30px;
}
.menu_icon{
    width: 30px;
    height: 25px;
    border-radius:50%;
    border:1px solid black;
}
.menu_name li:hover {
    background-color: orange;
    border-radius: 3px;
  }
  
/* foods */

.foods h3{
    font-size: 24px;
    color: #545454;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    }
.food-list{
    width: 735px;
    margin-left: auto;
    margin-right: auto;
    }
.food{
    width: 225px;
    text-align: center;
    display: block;
    color: #545454;
    text-decoration: none;
    float: left;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 80px;
    
    }
.food-image {
    width: 225px;
    height: 200px;
    margin-right: 20px;
    border-radius:20%;
    border:5px solid black;
    }
.food-name{
    margin-top: 20px;
    margin-bottom: 4px;
    
    }
.rating {
    font-weight: bold;
    color: #EAB543;
    }

.search{
    margin-left:auto;
    margin-right:auto;
    height:40px;
    width:400px;
    border: 1px solid #333;
    background:#fff;
}
.search input{
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}
.search button{
    width: 50px;
    height: 100%;
    border: 0px;
    background:#333;
    outline: none;
    float: right;
    color:#fff;
}

.clearfix{
    clear: both;
    }
/* footer */
.footer{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;

    }
.footer a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    }

.youtube {
    text-align: center;
}